<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post-List</title>
</head>
<body>
    <h1>Post Index</h1>
    <h2>general</h2>
    <div>
        <h1><a href="#">Django Girls Blog</a></h1>
    </div>
    <div>
        <p>published: 14.06.2017, 12:14</p>
        <h2><a href="#">My First Post</a></h2>
        <p>The big difference between the two popular frameworks is that the golang has the ability to use cocurrency by default without any real issue</p>
        <p>Go land is a low level static compliled general purpose language </p>
    </div>
    
</body>
</html>